.my-btn-home {
    padding: 15px 30px;
    background-color: $white;
    color: $brown;
    font-weight: bold;
    border-radius: 8px;
}

.become-host-button{
  width: 120px;
  padding: 20px 0;
  border-radius: 13px;
  text-align: center;
  cursor: pointer;
  background-color: $aloha-yellow;

  a{
    color: $aloha-blue;
    text-decoration: none;
  }

  &:hover a{
    font-weight: bold;
  }
}

.bottone-rosso {
  color: white;
  font-weight: bolder;
  background-color: #e73c51;
  &:hover {
      color: $light-black;
  }
}