
.button-search{
    font-size: 20px;
    text-transform: uppercase;
    outline: none;
    border: 1px solid black;
    margin:18px 24px 0 0;
    @include flex;
    width: 60px;
    height: 60px;
    background-color:  $aloha-blue;
    border-radius: 50px;
    color:$aloha-yellow;
}

.my-btn-home {
    padding: 15px 30px;
    background-color: $white;
    color: $brown;
    font-weight: bold;
    border-radius: 8px;
}

.become-host-button{
  width: 120px;
  padding: 20px 0;
  border-radius: 13px;
  text-align: center;
  cursor: pointer;
  background-color: $become-host-red;

  a{
    color: $white;
    text-decoration: none;
  }

  &:hover a{
    font-weight: bold;
  }
}