*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.my-container{
  margin: 0 100px;
}

ul {
  list-style-type: none;
}

.bottone {
  background-color: #75c6c7;
  color: white;
  &:hover {
    color: $light-black;
  }
}

.border-radius-20 {
  border-radius: 20px;
}