// .dashboard-left {
//     @include flex;
// }
.dashboard-table{
    padding: 80px 0;
        nav{
            ul{
                li{
                    #my-create{
                        color:green;
                        &:hover{
                            background-color: lightgrey;
                        }
                    }
                }
            }
        }

}