.container-dashboard-content {
    display: flex;
    .left{
      height: 100%;
      background-color: $white;
      width: 300px;
      margin: 0 20px;
      border-radius: 26px;
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      

        ul{
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            list-style: none;
            align-items: flex-start;
            padding: 2%;
            &:hover {
                color: red;
            }
            li{
                width: 80%;
                margin: 20px 20px;
                padding: 10px 20px;
                &:hover{
                    background-color: $aloha-yellow;
                    border-radius: 5px;
                    transform: scale(1.15);
                    transition: 0.3s;
                    a {
                        color: $aloha-blue;
                    }
                    i {
                        color: $aloha-blue;
                    }
                }
                a{
                    color: $aloha-blue;
                    text-decoration: none;
                    font-size: 20px;

                    i{
                        padding-right: 10px;
                        font-size: 20px;
                        color: $aloha-yellow;
                    }
                }
            }
        }
    }
    .left-small{
        height: 100%;
        background-color: $white;
        margin: 0 20px;
        border-radius: 26px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        ul{
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            list-style: none;
            align-items: flex-start;
            
            &:hover {
                color: red;
            }
            li{
                width: 80%;
                padding: 10px 20px;
                &:hover{
                    background-color: $aloha-yellow;
                    border-radius: 5px;
                    transform: scale(1.15);
                    transition: 0.3s;
                    a {
                        color: $aloha-blue;
                    }
                    i {
                        color: $aloha-blue;
                    }
                }
                a{
                    color: $aloha-blue;
                    text-decoration: none;
                    font-size: 20px;

                    i{
                        padding-right: 10px;
                        font-size: 20px;
                        color: $aloha-yellow;
                    }
                }
            }
        }
    
    }

.right{
    width: calc(100% - 200px);
    min-height: 100vh;
    .tool{
        display: flex;
        justify-content: flex-end;
    }
}

.succes{
    color: white;
    font-weight: bold;
    border: 1px solid;
    padding: 4px;
    background-color: #41af4178;
    border-radius: 6px;
}


.img-card{
    max-width: 80%;
    min-width: 30%;
  }
}
