.container-dashboard-content {
    display: flex;
    .left{
      height: 70vh;
      background-color: #f7f7f7;
      width: 300px;
      margin: 40px 20px;
      border-radius: 16px;

        ul{
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            list-style: none;
            align-items: flex-start;
            color: $airbnb;
            padding: 10px;
            &:hover {
                color: white;
            }
            li{
                width: 80%;
                margin: 20px 20px;
                padding: 10px 20px;
                &:hover{
                    background-color: $airbnb;
                    border-radius: 5px;
                    a {
                        color: white;
                    }
                    i {
                        color: white;
                    }
                }
                a{
                    color: $airbnb;
                    text-decoration: none;
                    font-size: 20px;

                    i{
                        padding-right: 10px;
                        font-size: 20px;
                        color: $airbnb;
                    }
                }
            }
        }
    }


  .right{
      width: calc(100% - 200px);
       min-height: 100vh;
       .tool{
           display: flex;
           justify-content: flex-end;
       }
  }

.succes{
  color: white;
  font-weight: bold;
  border: 1px solid;
  padding: 4px;
  background-color: #41af4178;
  border-radius: 6px;
  
  
}


  .img-card{
      max-width: 80%;
      min-width: 30%;
  }
}

// ****************navnar********************

.my-navbar{
    background-color: #f7f7f7;
    height: 90px;

    #aaa {
        color: $airbnb;
    }

    #navbarDropdown {
        color: #484848;
    }
}


// ***************tabella***************

.tabella {

    max-width: 70vw;
    margin-top: 40px;

    .testa-tabella {
        background-color: #f7f7f7;
        color: $airbnb;
    }

    .bottone-rosso {
        background-color: $airbnb;
        color: white;
        &:hover {
            color: $light-black;
        }
    }

    
}


