footer {
  background-color: #f7f7f7;
  color: $aloha-blue;
  padding: 20px 0;
  width: 100%;

  .my-container {
    width: 80%;
    margin: auto;

    .footer-top {
      @include flex-between;
      
      .footer-section{
        li{
          transition:0.3s;
          &:hover {
          text-decoration: underline;
          }
          a{
          color: $aloha-blue;  
          }
          &:not(first-child) {
            margin-left: 5px;
          }
        }
        
        
        h6 {
          color: $aloha-yellow;
          text-transform: uppercase;
          font-weight: 800;
        }
    
        ul {
          padding-bottom: $padd-bottom-20;
          
          li {
            margin-bottom: 20px;
            // font-weight: bold;
          }
        }
      }
    }
  
    .footer-bottom {
  
      @include flex-baseline($justify:space-between);
      border-top: 1px solid $aloha-yellow;
  
      ul {
        @include flex;
        padding: 20px 0;
  
        .btn-social {
          transition: 0.33s;
          border-radius: 100%;
          border-color: $aloha-yellow;
          display: inline-flex;
          font-size: 20px;
          width: 40px;
          height: 40px;
          justify-content: center;
          align-items: center;
          background-color: transparent;
          margin: 10px;
          .social-i {
          color: $aloha-blue;
          }
          &:hover {
            background-color: $aloha-blue;
            
            i {
              color: $aloha-yellow;
            }
          }
        }
  
        li {
          margin: $padding5;
  
          a {
            color: $aloha-blue;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }
    
          i.icon-size {
            padding: 5px;
            font-size: 28px;
            color: $light-black;
          }
        }
      }
    }
  }
}  

@media screen and (max-width: 1360px) {
  
  footer {

    .my-container {

      .footer-bottom {
        display: block;

        ul:not(:first-child) {
          padding: 0;
        }
      }
    }
  }
}


@media screen and (max-width: 980px) {

  footer {

    .my-container{

      .footer-top {
        display: block;
    
        .footer-section {
          margin-left: 40px;
          margin-right: 40px;
          margin-bottom: 20px;
          min-height: 150px;
    
          ul {
            display: flex;
            flex-wrap: wrap;
    
            li {
              flex-basis: 33.3333333%;
            }
          }
        }
    
        .footer-section:not(:last-child) {
          border-bottom: 1px solid $aloha-blue;
        }
      }
    } 
  }
}

@media screen and (max-width: 780px) {

  footer .my-container .footer-top {

    .footer-section {

      ul {
        display: block

      }
    }
  }

}


