header {
	display: flex;
	z-index: 9;
	padding: 10px 0;
	background-color: white;
	position: fixed;
	width: 100%;
	top: 0;
	justify-content: center;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
	transition: 0.33s;
    
}
header .wrap {
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
header img {
	width: 100px;
}
header #menu {
	display: flex;
	flex-direction: row;
}
header #menu li {
    list-style: none;
	position: relative;
	user-select: none;
	margin-left: 20px;
	a {
		color: $aloha-blue;
		cursor: pointer;
		font-size: 1.15em;
		border: none;
		background: linear-gradient($aloha-yellow 0 0) bottom /var(--d, 0) 3px no-repeat;
        transition:0.2s;
        }
        &:hover {
        --d: 80%;
        }
	}

header #hamburger {
	cursor: pointer;
	border-radius: 50%;
	position: absolute;
	left: 3%;
	top: 30px;
	display: none;
	transform: translateY(-50%);
}
header #hamburger span {
	height: 2px;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: $aloha-yellow;
	display: block;
	transition: 0.33s;
	&:nth-child(1) {width: 12px;}
	&:nth-child(2) {width: 24px; background-color: $aloha-blue;}
	&:nth-child(3) {width: 12px;}
}
.display_menu header #hamburger {
	span:nth-child(1) {transform: rotate(45deg) translate(2px, 1px); }
	span:nth-child(2) {transform: rotate(-45deg) ;}
	span:nth-child(3) {transform: rotate(45deg) translate(6px, -9px);}
}
.bottone-speciale{
	position: absolute;
	top:50%;
	left: 37%;
	transform: translate(-50%, -50%);
		label{
			position: relative;
			display: inline-block;
			background-color: $white;
			padding: 5px 12px;
			transition: all 1s ease;
			border-radius: 10px;
			box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
			&::after{
				content: '';
				display: block;
				height: 2px;
				width: 80%;
				background-color: $aloha-yellow;
				transition: all 1s ease 0.5s;
		}
		input{
			transition: width 1s ease, opacity 0.5s ease 0.5s;
			opacity: 1;
			width: 180px;
			height: 33px;
			border: 0;
			outline: none;
			color: $aloha-yellow
		}
		i{
			position: absolute;
			top: 11px;
			right: 11px;
			color: $aloha-blue;
			cursor: pointer;
			font-size: 22px;
		}
		&[data-state="close"]{
			border-radius: 30px;
			padding: 5px 5px;
			transition: all 1s ease;
			&::after{
			width: 0%;
			transition: all 0.3s ease;
			}
			i{
			pointer-events: none;
			font-size: 22px;
			}
			input{
			font-size: 22px;
			width: 35px;
			height: 33px;
			opacity:0;
			cursor: pointer;
			transition: opacity 0.5s ease, width 1s ease;
			-webkit-appearance:none
			} 
		}
	}
}

@media screen and (max-width: 980px) {
    .bottone-speciale{
	position: absolute;
	top:130%;
	left: 50%;
	transform: translate(-50%, -50%);
	}
}

@media screen and (max-width: 660px) {
	body {padding-top: 70px;}
	header .wrap {
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 0;
	}
	header img {width: 50px;}
	header #hamburger {
		display: block;
	}
	header #menu {
		width: 100%;
		display: block;
     	height: 0;
    	transform-origin: 50% 0;
     	transition: 0.33s ease;
		flex-direction: column;
	}
	.display_menu header #menu {
     	height: calc(100vh - 64px);
		li {
     		height: calc((100vh - 113px)/8);
			border-bottom: 1px solid $dark-white;
     		transition: 0.25s ease;
			opacity: 1;
			display: block;
		}
	}
	header #menu li {
		height: 0;
		opacity: 0;
		margin-left: 0;
     	transition: 0.25s ease;
		a {
			left: 0;
     		line-height: calc((100vh - 113px)/8);
			padding-left: 20px;
			border: none;
			height: 100%;
			width: 100%;
			display: block;
			&:hover {
				color: rgb(200, 199, 199);
                background: none;
				background-color:$aloha-yellow;
			}
		}
	}
   
}

