.wrap {max-width: 1024px; min-width: 320px;}
header {
	display: flex;
	z-index: 1;
	padding: 10px 0;
	background-color: white;
	position: fixed;
	width: 100%;
	top: 0;
	justify-content: center;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
	transition: 0.33s;
    
}
header .wrap {
	padding: 0 2%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
header img {
	width: 100px;
}
header #menu {
	display: flex;
	flex-direction: row;
}
header #menu li {
    list-style: none;
	position: relative;
	user-select: none;
	margin-left: 20px;
	a {
		color: $aloha-blue;
		cursor: pointer;
		font-size: 1.15em;
		border: none;
		background: linear-gradient($aloha-yellow 0 0) bottom /var(--d, 0) 3px no-repeat;
        transition:0.2s;
        }
        &:hover {
        --d: 80%;
        }
	}

header #hamburger {
	cursor: pointer;
	border-radius: 50%;
	position: absolute;
	left: 3%;
	top: 30px;
	display: none;
	transform: translateY(-50%);
}
header #hamburger span {
	height: 2px;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: $aloha-yellow;
	display: block;
	transition: 0.33s;
	&:nth-child(1) {width: 12px;}
	&:nth-child(2) {width: 24px; background-color: $aloha-blue;}
	&:nth-child(3) {width: 12px;}
}
.display_menu header #hamburger {
	span:nth-child(1) {transform: rotate(45deg) translate(2px, 1px); }
	span:nth-child(2) {transform: rotate(-45deg) ;}
	span:nth-child(3) {transform: rotate(45deg) translate(6px, -9px);}
}
.header-form{
        ul{
            transition: 0.2s;
            position: absolute;
            top:50%;
            left:40%;
            transform: translate(-50%, -50%);
            height: 80px;
            list-style: none;
            background-color: $white;
            border-radius: 50px;
            width: 102px;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
            &:hover{
                background-color: rgb(250, 250, 250);
                width: 240px;
                .search-inputs{
                    color: $aloha-blue;;
                    input::placeholder{
                        color: rgb(239,145,0);
                    }
                }
            }
            }
            li{
                float: left;
                height: 100%;
                width: 100%;
                .search-inputs{
                    transition: 0.2s;
                    color: transparent;
                    float: left;
                    position: relative;
                    top:50%;
                    left:50%;
                    transform: translate(-50%, -50%);
                    label{
                        font-weight: bolder;
                    }
                    input{
                        background-color: transparent;
                        border: none;
                        outline: none;
                    }
                    input::placeholder{
                        transition: 0.2s;
                        color: transparent
                    }
                }
                .button-search{
                    font-size: 20px;
                    text-transform: uppercase;
                    outline: none;
                    border: 1px solid black;
                    margin:18px 24px 0 0;
                    @include flex;
                    width: 60px;
                    height: 60px;
                    background-color:  $aloha-blue;
                    border-radius: 50px;
                    color:$aloha-yellow;
                    position: absolute;
                    top : -10%;
                    right: -5%;
                }
            }
        }
@media screen and (max-width: 980px) {
    .header-form ul{
        top:150%;
        left:50%;
    }
}

@media screen and (max-width: 660px) {
	body {padding-top: 70px;}
	header .wrap {
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 0;
	}
	header img {width: 50px;}
	header #hamburger {
		display: block;
	}
	header #menu {
		width: 100%;
		display: block;
     	height: 0;
    	transform-origin: 50% 0;
     	transition: 0.33s ease;
		flex-direction: column;
	}
	.display_menu header #menu {
     	height: calc(100vh - 64px);
		li {
     		height: calc((100vh - 113px)/8);
			border-bottom: 1px solid $dark-white;
     		transition: 0.25s ease;
			opacity: 1;
			display: block;
		}
	}
	header #menu li {
		height: 0;
		opacity: 0;
		margin-left: 0;
     	transition: 0.25s ease;
		a {
			left: 0;
     		line-height: calc((100vh - 113px)/8);
			padding-left: 20px;
			border: none;
			height: 100%;
			width: 100%;
			display: block;
			&:hover {
				color: white;
                background: none;
				background-color:$aloha-yellow;
			}
		}
	}
    .header-form ul{
        height: 60px;
        top:150%;
        left:50%;
        .button-search{
                    font-size: 20px;
                    width: 48px;
                    height: 48px;
                    top : -20%;
                    right: -7.5%;
                }
    }
}

