header{
    font-size: $fontHeader;
    background-color: $white;
    .#{&}-bar{
        padding-top: 50px;
        @include flex;
        justify-content: space-between;
        ul{
            @include flex;
            list-style: none;
            li{ 
                a{
                    font-weight: bolder;
                    font-size: 1.6em;
                    color: $aloha-blue;
                    text-decoration: none;
                    padding: $paddingHeader;
                    background: linear-gradient($aloha-yellow 0 0) bottom /var(--d, 0) 3px no-repeat;
                    transition:0.2s;
                    }
                    &:hover {
                    --d: 80%;
                    }
                }
                i{
                    font-size: 20px;
                }
            }
        }
        .header-right{
            ul{
                li{
                padding: $paddingHeader;
                    i{
                        padding-right: 10px;
                    }
                    .border-user{
                        padding: 10px 0;
                        text-align: center;
                        border-radius: 50px;
                    }
                }  
            }
        }
    
    .#{&}-form{
        ul{
            transition: 0.2s;
            position: relative;
            bottom: -40px;
            height: 80px;
            margin: 0 auto;
            list-style: none;
            background-color: $white;
            border:1px solid $black;
            border-radius: 50px;
            width: 102px;
            &:hover{
                width: 240px;
                .search-inputs{
                    color: $aloha-blue;;
                    input::placeholder{
                        color: $aloha-yellow
                    }
                }
            }
            }
            li{
                position: relative;
                float: left;
                height: 100%;
                width: 100%;
                .search-inputs{
                    transition: 0.2s;
                    color: transparent;
                    float: left;
                    position: relative;
                    top:50%;
                    left:50%;
                    transform: translate(-50%, -50%);
                    label{
                        font-weight: bolder;
                    }
                    input{
                        background-color: transparent;
                        border: none;
                        outline: none;
                    }
                    input::placeholder{
                        transition: 0.2s;
                        color: transparent
                    }
                }
                .button-search{
                    position: absolute;
                    top : -10%;
                    right: -5%;
                }
            }
        }
    }
