.w-100 {
  width: 100% !important;
  height: 60vh;
}
.slider-top{
  .carousel-inner{
    img{
      object-fit: cover;
    }
    h2, h5{
      color:$white;
      text-shadow: 1px 2px 1.5px rgba(67, 177, 228, 0.918);
    }
  }
}
.slider-sponsorizzati{
  display: flex;
  justify-content: center;
  align-items: center;
  i{
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: $aloha-blue;
    color: $aloha-yellow;
  }
  .card-img-top{
    max-width: none;
  }
  
  .controls-top{
    display: relative;
    .sinistra{
      position: absolute;
      left:-20px;
      top:50%;
	    transform: translate(-50%, -50%);
    }
    .destra{
      position: absolute;
      right:-110px;
      top:50%;
	    transform: translate(-50%, -50%);
    }
  }
  .controls-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .button-div{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card{
    border-radius: 20px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  }
}
.my-jumbotron {
  .jumbo-image {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    width: 100%;
    max-height: 542px;
    overflow: hidden;
    img {
      width: 100%;
      object-fit: cover;
      object-position: top;
    }
  }
}

section {
  padding: 40px 0;
  width: 90%;
  margin: 0 auto;
  background-color: $white;
  color: $aloha-blue;
  div[class$="box"] {
    border-radius: 8px;
  }
  div[class$="text"] {
    div {
      font-weight: bold;
    }
  }
}

.explore-home {
  #explore-list {
    display: flex;
    flex-wrap:wrap;
    .explore-object {
      margin-top: 20px;
      width: 25%;
      display: flex;
      align-items: center;
      .explore-box {
        margin-right: 10px;
        img {
          height: 150px;
          width: 150px;
          object-fit: cover;
          object-position: center;
          border-radius: 8px;
        }
      }
      .explore-text {
        width: 50%;
        font-size: 13px;
        span {
          color: $black;
        }
      }
    }
  }
}

.houses-home {
  .houses-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .houses-object {
      width:calc(25% - 10px);
      .houses-box {
        width: 100%;
        img {
          object-fit: cover;
        }
      }
    }
  }
}


.become-host-home {
  h2{
  font-size: 2.5vw;
  }
  p{
  font-size:1.8vw;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  
  img {
    transform: scale(1);
		-webkit-transform: scale(1);
    width: 100%;
    height: 60vh;
    border-radius: 10px;
    object-fit: cover;
    transition: all .4s linear;
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -o-transition: all .4s linear;
    &:hover{
      transform: scale(1.1);
		-webkit-transform: scale(1.1);
    }
  }
  .become-host-interact {
    width: 25%;
    position: absolute;
    left: 10%;
    h2, p {
      color: $white;
    }
    p {
      margin-bottom: 30px;
    }
  }
}

.partners-home {
  .partners-list {
    display: flex;
    justify-content: space-between;
    .partners-object {
      width:calc(100% / 3 - 10px);
      a {
        color: $aloha-blue;
        &:hover {
          color: $blue;
        }
      }
      .partners-box {
        width: 100%;
        position: relative;
        &::after {
          content: "";
          display: block;
          padding-bottom: 100%;
        }
        img {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          object-fit: cover;
          object-position:left;
          border-radius: 8px;
        }
      }
      .partners-text {
        span {
          font-size: 14px;
          color: $black;
        }
      }
    }
  }
}

.imagehome {
  height: 150px !important; 
  width: 200px !important;
  object-fit: cover !important;
}

@media screen and (max-width: 1220px) {
  .explore-home {
    #explore-list {
      .explore-object {
        width: 50%;
        .explore-box {
          img {
            height: 200px;
            width: 200px;
          }
        }
        .explore-text {
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: 980px) {

  .w-100 {
  width: 100% !important;
  height: 40vh;
}
  .become-host-home {
    img {
      width: 100%;  
      height: 40vh;
      border-radius: 8px;
    }
  }
  .houses-home {
    .houses-list {
      .houses-object {
        width:calc(50% - 10px);
        .houses-box {
          &::after {
            content: "";
            display: block;
            padding-bottom: 100%;
          }
        }
      }
    }
  }

}

@media screen and (max-width: 768px) {
  section {
    width: 95%;
  }
     .w-100 {
  width: 100% !important;
  height: 30vh;
}
  .explore-home {
    #explore-list {
      .explore-object {
        width: 100%;
        .explore-box {
          img {
            height: 300px;
            width: 300px;
          }
        }
        .explore-text {
          font-size: 16px;
        }
      }
    }
  }
  .become-host-home {
    img {
      width: 100%;  
      height: 30vh;
      border-radius: 8px;
    }
    .become-host-interact {
      width: 40%;
      position: absolute;
      left: 5%;
      }
    p {
      margin-bottom: 20px;
      font-size: 13px;
    }
    .my-btn-home {
      padding: 10px 20px;
      background-color: $white;
      color: $brown;
      font-weight: bold;
      font-size: 14px;
      border-radius: 8px;
    }
  }
  
  .partners-home {
    .partners-list {
      flex-wrap: wrap;
      .partners-object {
        margin-bottom: 10px;
        width: calc(50% - 10px);
        .partners-box {
          width: 100%;
          img {
            width: inherit;
            object-fit: cover;
            object-position: center;
            border-radius: 8px;
          }
        }
      }
    }
  }

}

@media screen and (max-width: 480px) {
   .w-100 {
  width: 100% !important;
  height: 20vh;
}
  .houses-home {
    .houses-list {
      .houses-object {
        width:calc(100% - 10px);
        .houses-box {
          &::after {
            content: "";
            display: block;
            padding-bottom: 100%;
          }
        }
      }
    }
  }

  .become-host-home {
    align-items: center;
    background-color: $aloha-blue;
    border-radius: 8px;
  img {
    display: none;
  }
    .become-host-interact {
      width: 90%;
      position: relative;
      left: 0;
      h2, p {
        color: $white;
      }
    }
  }

  .partners-home {
    .partners-list {
      flex-wrap: wrap;
      .partners-object {
        margin-bottom: 10px;
        width: 100%;
        .partners-box {
          width: 100%;
          img {
            width: inherit;
            object-fit: cover;
            object-position: center;
            border-radius: 8px;
          }
        }
      }
    }
  }
}
