table {
    border-collapse: collapse;
    border-radius: 26px;
    border-style: hidden; /* hide standard table (collapsed) border */
    // box-shadow: 0 0 0 5px $aloha-blue; /* this draws the table border  */ 
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);


    .tabella {

        max-width: 70vw;
    
        .testa-tabella {
            border: 5px solid $aloha-blue;
            color: $aloha-yellow;

            
            th {
                border: 1px solid #ccc;
            }
        }  
    }
}



