.row {
  display: flex;
  margin-bottom: 20px;

  img {
    max-width: 200px;
    min-width: 50px;
  }
}

.contenitore-card-sponsor{
  background-color: #f7f7f7;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  text-align: center;
}

.box-shadow-card {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 20px;
  background-color: #f7f7f7;
}

