// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// ************* fine var bootrstap********


// colori
$white: #ffffff;
$dark-white: #d3d3d3;
$black: #000000;
$brown: #201C19;
$light-black: #808080;
$button-search: #FF385C;
$button-search-hover: #D90865;
$airbnb: #f7575c;
$contatto-area-message: #57e4f7;
$aloha-blue: #004C99;
$aloha-yellow: #F5B964;


// altezza e larghezza

// font
$fontHeader: 14px;

//margin e padding
$paddingHeader: 0 20px;
$paddingFooter: 0 20px;
$padding5: 0 5px;
$padd-bottom-20: 20px;
$padding-area-messages :15px;
$margin-area-messages: 5px;
